.calendar-frame {
    display: flex;
    justify-content: center;
}

.calendar-container {
    display: flex;
    flex: none;
    width: 1200px;
    padding-top: 10px;
    /* height: 200px; */

    @media (max-width:1200px) {
        width: 100%;
        /* padding: 0px 10px 0px 10px; */
    }

    @media (max-width:800px) {
        width: 100%;
        flex-direction: column;
        /* padding: 0px 10px 0px 10px; */
    }
}

.calendar-calendar-ui-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex: none;
    /* background-color: aqua; */
    padding-top: 20px;
    justify-content: center;
    @media (max-width:800px) {
        width: calc(100% - 20px);
        padding: 0px 10px;
    }
}

.calendar-calendar-ui {
    width:calc(100% - 20px);
    padding: 20px 10px;

}

.calendar-calendar-list-container {
    display: flex;
    flex: none;
    width: 40%;
    height: 200px;
    background-color: aquamarine;

    @media (max-width:800px) {
        width: 100%;
    }
}

.calendar-week-number-style {

    font-size: 10px;
    color: red;
}