.concert-info-content-container {
    display: flex;
    flex: none;
    justify-content: center;
}

.concert-info-content {
    display: flex;
    flex: none;
    width: 740px;
    /* border: 1px black solid; */
    padding: 50px 30px 0px 30px;
    @media (max-width:740px) {
        width: calc(100% - 60px);
        /* padding: 50px 10px 0px 10px; */
    }
}

.concert-info-content-text {
    display: flex;
    flex: auto;
    width: calc(100%-20px);
    flex-direction: column;
    /* border: 1px gray solid; */
    /* background-color: rgba(235, 235, 235, 0.507); */
    padding: 10px 10px 10px 10px;
    /* border-radius: 5px; */
}

.concert-info-content-item {
    display: flex;
    flex-direction: column;
    padding: 6px 6px;
    margin: 8px 0px;
}

.concert-info-content-item {
    border: rgb(247, 119, 6) 2px dashed;
    border-radius: 8px;
}

.concert-info-content-item > hr {
    width: 100%;
    /* margin: 50px 0px 30px 0px; */
    border: none;
    border-top: 1px solid var(--Gray-300, #8b8b8b);

}

.concert-info-content-item-title {
    display: flex;
    flex: none;
    align-items: center;
    /* justify-content: center; */
}

.concert-info-content-item-title-icon {
    display: flex;
    flex: none;
    width: auto;
    height: 20px;
    padding-right: 10px;
}

.concert-info-content-item-title-text {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color-gray-10, #201f1f);
    /* Text Shadow */
    text-shadow: 0px 0px 30px #ABC;

    /* Header 1 - Bold 28(24) */
    font-family: Noto Sans TC;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.concert-info-content-item-text-style {
    color: var(--secondary-color-gray-10, #454545);
    /* Text Shadow */
    text-shadow: 0px 0px 30px #ABC;

    /* Header 1 - Bold 28(24) */
    font-family: Noto Sans TC;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.concert-info-content-item-text {
    display: flex;
    flex: none;
    flex-direction: column;
    padding-left: 10px;
    /* align-items: center; */
    justify-content: center;

}

.concert-info-content-item-time {
    display: flex;
    flex: none;
    flex-direction: column;
    padding-right: 10px;
}

.concert-info-content-item-time-subitem {
    display: flex;
    flex: none;
    width: 100%;
}

.concert-info-content-item-time-subitem-time {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
}

.concert-info-content-item-time-subitem-desc {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    padding-left: 3px;

}


.concert-item-icon-container {
    display: flex;
    flex: auto;
    width: 10%;
    height: 100%;
    align-self: center;
    justify-content: flex-end
}

.concert-item-icon{
    display: flex;
    flex: none;
    height: 30px;
    width: 30px;
}

.svg-icon {
    --color-svg: rgb(224, 36,94);
    color: rgb(224, 36,94);
    stroke: rgb(224, 36,94);
    fill: var(--color-svg)
}

.love-icon-btn {
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 100%;
}

.love-icon-hide {
    display: none;
    visibility: hidden;
    height: 0;
}

svg {
  fill: transparent;
  stroke: gray;
  /* width: 40px; */
  /* height: 40px; */  
}