body, html {
    margin:0px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(171, 168, 168); 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 153, 51, 0.644); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(181, 99, 17); 
}



.header-frame {
    display: flex;
    flex: none;
    height: 84px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
    border-bottom: 1px var(--Gray-300, #E8E8E8) solid;
    /* padding: 10px 0px 10 px 10px; */
    background-color: #f9f4e1;
    
    
    @media (max-width:1200px) {
        padding: 0px 20px;
    }
}

.header-container {
    display: flex;
    width: 1200px;
}
.header-logo {
    display: flex;
    flex: none;
    height: 64px;
    width: 200px;
    align-items: center;
    /* background-color: red; */
}
.header-logo-img {
    height: 100%;
    width: auto;
}

.header-function {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    align-items: center;
}

.header-function-tab {
    display: flex;
    flex: none;
    /* background-color: antiquewhite; */
    align-items: center;
    justify-content: flex-end;
}

.header-function-tab-item {
    display: flex;
    flex: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 20px;
}

.header-function-tab-item-txt::after {
    display:block;
    content: '';
    border-bottom: solid 4px rgb(255, 153, 51);  
    transform: scaleX(0);  
    transition: transform 500ms ease-in-out;
}

.header-function-tab-item-txt:hover::after { 
    transform: scaleX(1); 
    transform-origin: bottom left;
}

.header-function-logout {
    flex: none;
    width: 50px;
    height: 10px;
    background-color: rgb(255, 153, 51);
}


.concert-item-image {
    margin: 0 10px;
}


.header-function-login-user {
    display: none;
    flex: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid gray;
    background-size: 50px;  
    background-color: #ffffff;
    /* background-image:url('https://lh3.googleusercontent.com/a/ACg8ocKejMnMOl0F-0afMqu8j-rhcz5fWEUxafHy6iYb-wYIrw0=s96-c') */
}


.header-function-login-user:hover {
    border: 2px solid rgb(255, 153, 51);
}

.header-function-login-user:active {
    border: 2px solid rgb(216, 129, 42);
}

.header-logo-img:hover {
    cursor: pointer;
}