<div class="concert-info-container">
    
    <div class="concert-info-cover">
        <div class="concert-info-cover-bg">
            <img class="concert-info-cover-bg-image" src="https://static.tixcraft.com/images/activity/23_mchotdog_bdda369c0ea382f5981e7fed2d087ce5.jpg">
        </div>
        <div class="concert-info-cover-main">
            <img class="concert-info-cover-main-image" src="https://static.tixcraft.com/images/activity/23_mchotdog_bdda369c0ea382f5981e7fed2d087ce5.jpg">
        </div>
        <div class="concert-info-cover-title">
            <div class="concert-info-cover-title-text">MC HotDog熱狗「髒藝術家」2023台北小巨蛋演唱會</div>
        </div>
    </div>
    <div class="concert-info-content-container">
        <div class="concert-info-content">
            <div class="concert-info-content-text">
                <div class="concert-info-content-item">
                    <div class="concert-info-content-item-title">
                        <div class="concert-info-content-item-title-icon">
                            <img src="/static/images/icon/singer.png?tt">
                        </div>
                        <div class="concert-info-content-item-title-text">歌手</div>
                    </div>
                    <hr>
                    <div class="concert-info-content-item-text concert-info-content-item-text-style">
                        MC HotDog熱狗
                    </div>
                </div>
                <div class="concert-info-content-item">
                    <div class="concert-info-content-item-title">
                        <div class="concert-info-content-item-title-icon">
                            <img src="/static/images/icon/singer.png?tt">
                        </div>
                        <div class="concert-info-content-item-title-text">演出時間</div>
                    </div>
                    <hr>
                    <div class="concert-info-content-item-time">
                        <div class="concert-info-content-item-time-subitem">
                            <div class="concert-info-content-item-time-subitem-time concert-info-content-item-text-style">2023/12/23 (六) 19:00</div>
                            <div class="concert-info-content-item-time-subitem-desc concert-info-content-item-text-style">XX1</div>
                        </div>
                        <div class="concert-info-content-item-time-subitem">
                            <div class="concert-info-content-item-time-subitem-time concert-info-content-item-text-style">2023/12/24 (日) 16:30</div>
                            <div class="concert-info-content-item-time-subitem-desc concert-info-content-item-text-style">XX2</div>
                        </div>
                        
                    </div>
                </div>
                <div class="concert-info-content-item">
                    <div class="concert-info-content-item-title">
                        <div class="concert-info-content-item-title-icon">
                            <img src="/static/images/icon/singer.png?tt">
                        </div>
                        <div class="concert-info-content-item-title-text">售票時間</div>
                    </div>
                    <hr>
                    <div class="concert-info-content-item-time">
                        <div class="concert-info-content-item-time-subitem">
                            <div class="concert-info-content-item-time-subitem-time concert-info-content-item-text-style">2023/11/04 (六) 11:00</div>
                            <div class="concert-info-content-item-time-subitem-desc concert-info-content-item-text-style">本色會員優先</div>
                        </div>
                        <div class="concert-info-content-item-time-subitem">
                            <div class="concert-info-content-item-time-subitem-time concert-info-content-item-text-style">2023/11/04 (六) 16:30</div>
                            <div class="concert-info-content-item-time-subitem-desc concert-info-content-item-text-style">XX2</div>
                        </div>
                        
                    </div>
                </div>
                <div class="concert-info-content-item">
                    <div class="concert-info-content-item-title">
                        <div class="concert-info-content-item-title-icon">
                            <img src="/static/images/icon/singer.png?tt">
                        </div>
                        <div class="concert-info-content-item-title-text">演出地點</div>
                    </div>
                    <hr>
                    <div class="concert-info-content-item-text concert-info-content-item-text-style">
                        台北小巨蛋
                    </div>
                </div>
                <div class="concert-info-content-item">
                    <div class="concert-info-content-item-title">
                        <div class="concert-info-content-item-title-icon">
                            <img src="/static/images/icon/singer.png?tt">
                        </div>
                        <div class="concert-info-content-item-title-text">售票連結</div>
                    </div>
                    <hr>
                    <div class="concert-info-content-item-text concert-info-content-item-text-style">
                        <a href="https://tixcraft.com/activity/detail/24_swja" target="_blank">https://tixcraft.com/activity/detail/24_swja</a>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>