<input type="hidden" value="{{code}}" id="memberToken"/>
{% include 'modal.html' %}
{% include 'loading.html' %}
<div class="header-frame">
    <div class="header-container">

        <div class="header-logo" >
            <img class="header-logo-img" src="/static/images/logo/logo2.png" id="liveNowCalendar">
        </div>
        <div class="header-function">
            <div class="header-function-tab">
                <div class="header-function-tab-item">我的行事曆</div>
                <div class="header-function-tab-item" id="myArtists">關注的藝人</div>
            </div>

            <div class="header-function-login-user" id="loginUser"></div>
            <div class="header-function-logout" hidden>
                
            </div>
        </div>
    
    </div>
</div>
