<!DOCTYPE html>
<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css?cache={{time}}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/calendar.css?cache={{time}}"/>
  </head>
<body>

  <div>
    <!-- header start-->
    <div>
        {% include 'header.html' %}
    </div>
    <!-- header end-->
    <div>
      {% include 'calendar.html' %}
    </div>
    <div>footer</div>


  </div>
</body>
<script src="/static/js/calendar.js?cache={{time}}"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js?cache={{time}}'></script>
</html>