<!DOCTYPE html>
<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css?cache={{time}}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/loading.css?cache={{time}}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css?cache={{time}}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/calendar.css?cache={{time}}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/calendar-item.css?cache={{time}}"/>
    <link rel="shortcut icon" href="/static/images/logo/live-now-favicon-black.png" type="image/x-icon">
    <title>Live Now!</title>
  </head>
<body>
  {% include 'modal.html' %}
  <div>
    <!-- header start-->
    <div>
        {% include 'header.html' %}
    </div>
    <!-- header end-->
    <div>
      {% include 'calendar-item.html' %}
    </div>
    
    <div id="content">
     
    </div>
    <div>footer</div>


  </div>
</body>
<script src='/static/js/third-party/fullcalendar/index.global.js'></script>
<script src="/static/js/modal.js?cache={{time}}"></script>
<script src="/static/js/index.js?cache={{time}}"></script>
<script src="/static/js/header.js?cache={{time}}"></script>
<script src="/static/js/calendar.js?cache={{time}}"></script>
</html>