<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8" />
        <meta name="referrer" content="no-referrer-when-downgrade">
        <link rel="stylesheet" type="text/css" href="/static/css/login.css?cache={{time}}"/>
    </head>
    <body>
        <button class="line-login-button" id="lineLoginBtn">Line Login</button>
        <div id="g_id_onload"
            data-client_id="{{google_login_client_id}}"
            data-context="signin"
            data-ux_mode="redirect"
            data-login_uri="https://live-now.jc-chen.online/"
            data-auto_prompt="false">
        </div>

        <div class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="outline"
            data-text="signin_with"
            data-size="medium"
            data-logo_alignment="left">
        </div>
    </body>
    <script src="https://accounts.google.com/gsi/client" async></script>
    <script src="/static/js/login.js?cache={{time}}"></script>
   
</html>