<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8" />
        <style>

            .line-login-button {
                background-color: #06C755;
                width: 80px;
                height: 30px;
            }
        </style>
    </head>
    <body>
        <button class="line-login-button" id="lineLoginBtn">Line Login</button>

    </body>
    <script src="/static/js/login.js?cache={{time}}"></script>
</html>