<div class="live-now-modal-body"  id="modalContainer">
    <div class="live-now-modal-container">
      <div class="live-now-modal-header-container" style="display: none;"></div>
      <div class="live-now-modal-content-container" id="modalContent"></div>
      <div class="live-now-modal-footer-container" style="display: none;"></div>
      <div class="live-now-modal-close-btn-container">
        <button class="live-now-modal-close-btn" id="modalCloseBtn"><span>×</span></button>
      </div>

    </div>
</div>
